html {
	font-size: 14px;
}

body {
	margin: 0;
	width: 100%;
}

header {
	/*ЗАДАТЬ ПОЗИЦИОНИРОВАННИЕ БЛОКОВ В ШАПКЕ*/
	position: fixed;
	background: #007765;
	height: 84px;
	width: 100%;
	margin: 0px auto;
}

.header-static {
	display: block;
	box-sizing: border-box;
	width: 1219px;
	padding: 0px 55px 0px 55px;
	margin: auto;
}

a {
	text-decoration: none; /*Убираем подчеркивание ссылок*/
}

.logo {
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
	/*margin: 20px 0px 20px 55px; *//*Центрирование картинки лого */
}

table {
	border-collapse: collapse; /* Убрать двойные границы между ячейками */
	width: auto;
}

table a {
	color: white; /* Цвет текста в табличке - белый */
	height: 29px;
	font-size: 1.2rem;
}

td {
	padding: 1px 5px; /* Отступы между ячейками в таблице */
	border: 2px solid white; /* Толщина и цвет вертикальных линий */
}

.table_header {
	display: inline-block;
	float: right;
	margin-top: 30px;
	margin-right: 55px;
}

.content {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding-left: 0px;
	/*Мб padding-top: 84px?*/
	/*margin-left: auto;
	margin-right: auto;*/
	margin: auto;

}

.jumbotron {
	display: block;
	box-sizing: border-box;
	height: 403px;
	line-height: 403px;
	background: url(pied_piper_img/image.png);
	text-align: center;
}

.piper-net-is-here {
	box-sizing: border-box;
	width: 1219px;
	color: white;
	font-size: 5rem;
}
.the-problem {
	display: block;
	background: #EEEEEE;
	height: 719px;
	text-align: center;
	padding-top: 55px;
}

.the-problem-content {
	box-sizing: border-box;
	width: 1219px;
	margin: auto;
}

.the-problem-ref {
	display: block;
	text-align: center;
	color: #007765;
	font-size: 5rem;
}

.the-problem p {
	text-align: left;
	color: black;
	font-size: 2.3rem;
	padding-left: 55px;
	padding-right: 55px;
}

.hero {
	display: block;
	background: url(pied_piper_img/image-1.png);
	height: 403px;
	text-align: center;
}

.hero-paragraph {
	display: block;
	height: inherit;
	margin: auto;
	width: 55rem;
	font-size: 3.4rem;
	color: white;
	padding-top: 100px;
}

.ppc {
	display: block;
	background: #FFFFFF;
	height: 604px;
	text-align: center;
	padding-top: 55px;
}

.ppc-content {
	box-sizing: border-box;
	width: 1219px;
	margin: auto;
}

.ppc-ref {
	display: block;
	text-align: center;
	color: #007765;
	font-size: 5rem;
}

.ppc p {
	text-align: left;
	color: black;
	font-size: 2.3rem;
	padding-left: 55px;
	padding-right: 55px;
}

.ppc-logo {
	float: left;
}

.the-team {
	display: block;
	background: #EEEEEE;
	height: 845px;
	text-align: center;
	padding-top: 44px;
}
.the-team-content {
	box-sizing: border-box;
	width: 1219px;
	margin: auto;
}

.the-team-ref {
	display: block;
	text-align: center;
	color: #007765;
	font-size: 5rem;
}

.richard-hendricks, 
.dinesh-chugtai, 
.bertram-gilfoyle {
	display: inline-block;
}